body {
    background-color: azure;
}

#headshot {
    padding: 10px;
    background-color: white;
    
}


#myMajor {
    font-style: italic;
    text-decoration: underline;
}

#inputBox {
    clear: both;
}

#messageBox {
    min-height: 50px;
    background-color: aquamarine;
}
